html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f2f2f2;
}

.form-signin {
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 1rem;
  margin-bottom: 1rem;
  border-radius: 0;
}
.form-signin .form-control:focus {
  z-index: 2;
}

.btn-submit {
  margin-top: 2rem;
}
.btn {
  color: #fff;
  border-radius: 0;
  border: 2px solid #491e88;
  background-color: #491e88;
  font-weight: 700;
  text-transform: uppercase;
  padding: 1rem;
}
.btn:hover {
    color: #491e88;
    background-color: transparent;
    border-color: #491e88;
}